@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-body: var(--font-inter);
  --font-arabic: var(--font-cairo);
  --font-heading: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  font-family: var(--font-body), sans-serif;
  scroll-behavior: smooth;
  background: var(--background);
  color: var(--foreground);
  color: white;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}

code, pre, kbd, samp {
  font-family: var(--font-mono), monospace;
}

.rtl {
  font-family: var(--font-arabic), sans-serif;
  direction: rtl;
}

.body {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.container-form {
  color: white;
  width: 50%;
  background-color: rgb(29, 31, 37);
}

.form {
  width: 100%;
  padding: 20px;
}

.guests {
    background-color: rgba(25, 35, 45);
    width: 50%;
    padding: 20px;
}